<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name= "description" content="<%= htmlWebpackPlugin.options.description %>"/>
    <title>Pixi Webpack Example</title>
  </head>
  <body>
  </body>
</html>
